<hr class="h-[1px] bg-gradient-to-r to-natural-95 via-natural-85 from-natural-95 border-0">
<footer class="bg-natural-95">
    <div class="container">
        <nav class="py-6 lg:flex justify-center lg:justify-between">
            <ul class="cusText-b-md flex flex-wrap justify-center items-center gap-y-2">
                <li class=""><a href="#" class="block py-2 px-4 md:px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90">
                    服務方案</a></li>
                <li class=""><a href="#" class="block py-2 px-4 md:px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90">
                    關於職旅</a></li>
                <li class=""><a href="#" class="block py-2 px-4 md:px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90">
                    聯絡我們</a></li>
                <li class=""><a href="#" class="block py-2 px-4 md:px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90">隱私權政策</a></li>
                <li class=""><a href="#" class="block py-2 px-4 md:px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90">用戶條款</a></li>
            </ul>
            <p class="cusText-b-sm text-natural-50 text-center py-[9.5px]">Copyright © 2025 職旅 workway. All rights reserved.</p>
        </nav>
        
    </div>
</footer>