<header class="bg-natural-85 border-b border-natural-light">
    <div class="container">

        
        <!-- Navigation bar -->
        <nav class="relative flex w-full items-center justify-between" data-twe-navbar-ref>
            <div class="flex w-full flex-wrap items-center">
                <div class="flex items-center w-full py-[14px] md:py-3 px-3 md:px-0 justify-between">
                    
                    <!-- Logo -->
                    <div class="w-[92px] md:w-[124px]">
                        <img src="/assets/images/plan/logo-header.svg" alt="logo" class="w-full h-auto block">
                    </div>


                    <ul class="hidden md:flex md:items-center md:justify-center gap-3">
                        <li class="">
                            <a class="cusText-b-md py-2 px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90"
                            href="#!">服務方案</a
                            >
                        </li>
                        <li class="">
                            <a class="cusText-b-md py-2 px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90"
                            href="#!">關於職旅</a>
                        </li>
                        <li class="">
                            <a class="cusText-b-md py-2 px-6 rounded-btn hover:bg-natural-90 active:bg-natural-90"
                            href="#!">聯絡我們</a>
                        </li>
                    </ul>


                    <!-- login/register // 會員-->
                    <div class="flex items-center justify-center">
                        <picture class="w-11 h-11 mr-2">
                            <img src="/assets/images/plan/user_pic.png" alt="user-pic" class="w-full h-full block rounded-radius-1000 border object-cover border-natural-85 userImg" id="userImg">
                        </picture>
                        <h3 class="cusText-b-md">Mokumaru</h3>


                        <!-- Hamburger menu button -->
                        <button class="block border-0 bg-transparent p-[10px] ml-3 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden rounded-btn hover:bg-natural-90 active:bg-natural-90"
                        type="button"
                        data-twe-collapse-init
                        data-twe-target="#navbarSupportedContentY"
                        aria-controls="navbarSupportedContentY"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <!-- Hamburger menu icon -->
                            <span class="[&>svg]:h-6 [&>svg]:w-6 [&>svg]:nurtral-main">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                    <path stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                            </span>
                        </button>
                    </div>

                </div>
                <!-- Navigation links -->
                <div
                    class="hidden md:hidden grow basis-[100%] items-center text-center"
                    id="navbarSupportedContentY"
                    data-twe-collapse-item>
                    <ul
                    class="me-auto flex flex-col lg:flex-row"
                    data-twe-navbar-nav-ref>
                        <li class="py-2 lg:py-0 hover:bg-natural-90 active:bg-natural-90" data-twe-nav-item-ref>
                            <a
                            class="block transition duration-200 hover:ease-in-out motion-reduce:transition-none"
                            href="#!"
                            data-twe-nav-link-ref
                            data-twe-ripple-init
                            data-twe-ripple-color="light"
                            >服務方案</a
                            >
                        </li>
                        <li class="py-2 lg:py-0 hover:bg-natural-90 active:bg-natural-90" data-twe-nav-item-ref>
                            <a
                            class="block transition duration-200 hover:ease-in-out motion-reduce:transition-none"
                            href="#!"
                            data-twe-nav-link-ref
                            data-twe-ripple-init
                            data-twe-ripple-color="light"
                            >關於職旅</a
                            >
                        </li>
                        <li class="py-2 lg:py-0 hover:bg-natural-90 active:bg-natural-90" data-twe-nav-item-ref>
                            <a
                            class="block transition duration-200 hover:ease-in-out motion-reduce:transition-none"
                            href="#!"
                            data-twe-nav-link-ref
                            data-twe-ripple-init
                            data-twe-ripple-color="light"
                            >聯絡我們</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</header>